* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body{
  background-color: #d8dce0;
}
#body  {
  background-color: white;
  width: 85%;
  height: auto;
  margin: auto;
  box-shadow: 5px 5px 40px 2px rgb(26, 26, 154);
  transform: translateZ(-50px);
}
/* nev-bar */
/* nev-bar */
#nev {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  position: fixed;
}

#icon {
  color: #FE5D37;
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  margin-left: 70px;
}

.webname {
  color: #FE5D37;
  font-size: 40px;
  line-height: 80px;
  padding-left: 10px;
  font-weight: 600;
  font-family: 'lobster', cursive;
}

#nev ul {
  float: right;
  margin-right: 250px;
}

#nev ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

#nev ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  font-family: 'lobster', cursive;
}

#nev ul li a:hover {
  color: #FE5D37;
}

/* nev-bar end */

nev {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-top: 7%;
}
nev h1 {
  font-size: 50px;
  color:#FDC89C;
  font-family: 'lobster', cursive;
}
.line{
  display: flex;
  
}
.contener {
  display: flex;
  margin-top: 3%;
  padding: 0 50px;
  gap: 3%;
  height:5%;
  width: 100%;

}
.right{
  width: 120%;
  height: 100px;
}
.right h4{
  color: rgb(182, 162, 237);
  padding-top: 20px;
  padding-left: 40px;
}
.right p{
  color: rgb(107, 100, 238);
  padding-left: 40px;
}
.left{
  width: 40%;
  height: auto;
  overflow: hidden;
}
.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
 
/* footer styles */
.footer {
  background-color: #103741;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffcc00;
}

.footer p {
  font-size: 14px;
  line-height: 1.7;
  margin: 8px 0;
  color: #e6e6e6;
}

.footer p:last-child {
  margin-top: 20px;
  font-size: 13px;
  color: #cccccc;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    padding: 30px 15px;
  }

  .footer h3 {
    font-size: 20px;
  }

  .footer p {
    font-size: 13px;
  }
}