* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body{
  background-color: #d8dce0;
}
#body  {
  background-color: white;
  width: 85%;
  height: 1000px;
  margin: auto;
  display: block;
}
/* nev-bar */
/* nev-bar */
#nev {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  position: fixed;
}

#icon {
  color: #FE5D37;
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  margin-left: 70px;
}

.webname {
  color: #FE5D37;
  font-size: 40px;
  line-height: 80px;
  padding-left: 10px;
  font-weight: 600;
  font-family: 'lobster', cursive;
}

#nev ul {
  float: right;
  margin-right: 250px;
}

#nev ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

#nev ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  font-family: 'lobster', cursive;
}

#nev ul li a:hover {
  color: #FE5D37;
}


/* nev-bar end */

nev {
  width: 100%;
  height: 500px;
  background-color: #a9acb3;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
nev h1 {
  font-size: 50px;
  color: white;
  font-family: 'lobster', cursive;
}
.contener {
  display: flex;
  margin-top: 3%;
  padding: 0 50px;
    gap: 3%;

}
.left{
  width: 20%;
  height: 100px;
}
.left h4{
  color: rgb(182, 162, 237);
  padding-top: 20px;
  padding-left: 40px;
}
.left p{
  color: rgb(107, 100, 238);
  padding-left: 40px;
}
.right{
  width: 10%;
  height: 100px;
  overflow: hidden;
}
.right img{
  width: 100%;
  height: 100%;
    object-fit: cover;
}